.vue-scroll-picker {
    position: relative;
    width: 100%;
    height: 10em;
    overflow: hidden;
}

.vue-scroll-picker-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vue-scroll-picker-list-rotator {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 0.6em);
}

.vue-scroll-picker-list-rotator.-transition {
    transition: top ease 200ms;
}

.vue-scroll-picker-item {
    text-align: center;
    height: 1.2em;
    line-height: 1.2em;
}

.vue-scroll-picker-item.-placeholder {
    color: #aaa;
}

.vue-scroll-picker-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vue-scroll-picker-layer .top,
.vue-scroll-picker-layer .middle,
.vue-scroll-picker-layer .bottom {
    position: absolute;
}

.vue-scroll-picker-layer .top {
    box-sizing: border-box;
    border-bottom: 1px solid #c8c7cc;
    background: linear-gradient(180deg, #fff 10%, rgba(255, 255, 255, 0.7));
    top: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em);
    cursor: pointer;
}

.vue-scroll-picker-layer .middle {
    top: calc(50% - 1em);
    left: 0;
    right: 0;
    bottom: calc(50% - 1em);
}

.vue-scroll-picker-layer .bottom {
    border-top: 1px solid #c8c7cc;
    background: linear-gradient(0deg, #fff 10%, rgba(255, 255, 255, 0.7));
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em);
    cursor: pointer;
}

.vue-scroll-picker-group.flex {
    display: flex;
}

.vue-scroll-picker-group:after {
    clear: both;
    display: table;
    content: "";
}

.vue-scroll-picker-group>.vue-scroll-picker-1 {
    float: left;
    width: 8.3333333333%;
}

.vue-scroll-picker-group>.vue-scroll-picker-2 {
    float: left;
    width: 16.6666666667%;
}

.vue-scroll-picker-group>.vue-scroll-picker-3 {
    float: left;
    width: 25%;
}

.vue-scroll-picker-group>.vue-scroll-picker-4 {
    float: left;
    width: 33.3333333333%;
}

.vue-scroll-picker-group>.vue-scroll-picker-5 {
    float: left;
    width: 41.6666666667%;
}

.vue-scroll-picker-group>.vue-scroll-picker-6 {
    float: left;
    width: 50%;
}

.vue-scroll-picker-group>.vue-scroll-picker-7 {
    float: left;
    width: 58.3333333333%;
}

.vue-scroll-picker-group>.vue-scroll-picker-8 {
    float: left;
    width: 66.6666666667%;
}

.vue-scroll-picker-group>.vue-scroll-picker-9 {
    float: left;
    width: 75%;
}

.vue-scroll-picker-group>.vue-scroll-picker-10 {
    float: left;
    width: 83.3333333333%;
}

.vue-scroll-picker-group>.vue-scroll-picker-11 {
    float: left;
    width: 91.6666666667%;
}

.vue-scroll-picker-group>.vue-scroll-picker-12 {
    float: left;
    width: 100%;
}

.v-drumroll-picker__slide-transition-enter-active,
.v-drumroll-picker__slide-transition-leave-active {
    transition: 300ms ease-in-out;
}

@media screen and (min-width: 961px) {
    .v-drumroll-picker__slide-transition-enter {
        opacity: 0;
        transform: translateY(-2em);
    }
}

@media screen and (max-width: 960px) {
    .v-drumroll-picker__slide-transition-enter {
        transform: translateY(100%);
    }
}

@media screen and (min-width: 961px) {
    .v-drumroll-picker__slide-transition-leave-to {
        opacity: 0;
        transform: translateY(-2em);
    }
}

@media screen and (max-width: 960px) {
    .v-drumroll-picker__slide-transition-leave-to {
        transform: translateY(100%);
    }
}

.v-drumroll-picker {
    --selected-color: #007BFF;
    --picker-align: center;
    user-select: none;
    white-space: nowrap;
}

.v-drumroll-picker .-selected {
    color: var(--selected-color);
}

.v-drumroll-picker__overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.v-drumroll-picker__overlay.--dark {
    background: rgba(0, 0, 0, 0.33);
}

.v-drumroll-picker__content {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 201;
}

.v-drumroll-picker__container {
    background: #ffffff !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 10em;
    justify-content: center;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
}

.v-drumroll-picker__container .vue-scroll-picker,
.v-drumroll-picker__container .vue-scroll-picker-list,
.v-drumroll-picker__container .vue-scroll-picker-list-rotator {
    position: relative;
    width: fit-content;
}

.v-drumroll-picker__container>.vue-scroll-picker-layer {
    pointer-events: none;
}

.v-drumroll-picker__container>.vue-scroll-picker-layer .top,
.v-drumroll-picker__container>.vue-scroll-picker-layer .bottom {
    background: transparent;
}

.v-drumroll-picker__container>.vue-scroll-picker-group {
    display: flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}

.v-drumroll-picker__container .vue-scroll-picker-item {
    text-align: var(--picker-align);
    width: auto;
}

.v-drumroll-picker--dialog .v-drumroll-picker__container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 0 1em;
    position: relative;
}

.v-drumroll-picker__input {
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    padding: 0.5em;
}

.v-drumroll-picker__divider {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 6px;
    padding: 0 1px 2px;
}

.v-drumroll-picker__button {
    display: none;
}

@media screen and (max-width: 960px) {
    .v-drumroll-picker .v-drumroll-picker__content {
        align-items: flex-end;
    }

    .v-drumroll-picker .v-drumroll-picker__container {
        border-radius: 0;
        width: 100%;
    }

    .v-drumroll-picker .v-drumroll-picker__button {
        background: var(--selected-color);
        border: none;
        border-radius: 2px;
        display: flex;
        fill: white;
        justify-content: center;
        outline: none !important;
        padding: 2px 20px;
        position: absolute;
        right: 4px;
        top: 4px;
    }

    .v-drumroll-picker .v-drumroll-picker__button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .v-drumroll-picker .v-drumroll-picker__button:active::before,
    .v-drumroll-picker .v-drumroll-picker__button:hover::before {
        background: rgba(255, 255, 255, 0.2);
    }

    .v-drumroll-picker.v-drumroll-picker--dialog .v-drumroll-picker__container {
        padding: 0;
    }
}
